#text-input {
  height: 100px;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-btn {
  padding: 18vw ;
}

label {
  padding: 18vw;
  margin-top: 10px;
}

#text-output {
  height: 100px;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}